name: Run unit tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup node env
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 15

      - name: Install dependencies
        run: yarn install --dev

      - name: Run unit tests
        run: yarn test
